<ion-header no-shadow>
  <ion-navbar>
    <ion-buttons end *ngIf="showSkip">
      <button ion-button (click)="startApp()" class="slide-skip">Saltar</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content no-bounce>
  <ion-slides pager="true" dir="{{dir}}" (ionSlideWillChange)="onSlideChangeStart($event)">
    <ion-slide *ngFor="let slide of slides">
      <img [src]="slide.image" class="slide-image" />
      <h2 class="slide-title" [innerHTML]="slide.title"></h2>
    </ion-slide>
    
    <ion-slide>
      <img src="assets/img/logo.png" class="slide-image" />
      <h2 class="slide-title">Bienvenido(a)</h2>
      <button ion-button icon-end large clear class="button-start"  (click)="startApp()">
        Iniciar app
        <ion-icon name="arrow-forward"></ion-icon>
      </button>
    </ion-slide>
    
  </ion-slides>
</ion-content>
